<%
let random = Math.random();
%>
<a href="/img/model.jpg" data-fancybox="<%= random %>" class="absolute inset-0 flex btn-group zoom-button-parent">
  <button class="m-auto btn btn-stone btn-whitebg border border-stone btn-icon btn-[64px] rounded-full bg-neutral-100 zoom-button">
    <svg class="text-2xl icon">
      <use xlink:href="img/icons.svg#plus" />
    </svg>
  </button>
</a>
<a href="/img/test.jpg" data-fancybox="<%= random %>" class="hidden"></a>
<a href="/img/test.jpg" data-fancybox="<%= random %>" class="hidden"></a>