<% 
const screens = { xs: 420 + 29.98,  sm: 580 + 29.98, md: 688 + 29.98, lg: 992 + 29.98, xl: 1280 + 29.98, }
%>
<%= _.template(require('./html-includes/header.html').default)({screens}) %>

<section class="section-padding">
  <div class="title mb-9">
    Как мы создали коллекцию и <br class="max-sm:hidden">
    запустили продажи на Wildberries
  </div>
  <div class="flex gap-4 lg:gap-16 max-lg:flex-col">
    <div class="sm:text-[25px] font-light space-y-3">
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>

    </div>
    <div class="lg:w-[530px] flex flex-col gap-10 flex-shrink-0">
      <div class="relative overflow-hidden rounded-2xl">
        <img src="img/case.jpg" alt="">
      </div>
      <div class="relative overflow-hidden rounded-2xl">
        <img src="img/case.jpg" alt="">
        <%= _.template(require('./html-includes/absolute-video-button.html').default)() %>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="content">
    <div class="title mb-7">Как мы создали коллекцию и запустили продажи на Wildberries</div>
    <div class="flex flex-col gap-3 sm:text-[25px] font-light">
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <div class="content-slider swiper my-8 -mx-2">
        <div class="swiper-wrapper">
          <% for(let i = 0; i < 10; i++) { %>
          <a href="img/case.jpg" data-fancybox="id-1" class="swiper-slide  px-2">
            <div class="rounded-2xl overflow-hidden">
              <img src="img/case.jpg" alt="">
            </div>
          </a>
          <% } %>
        </div>
        <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
      </div>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <div class="relative rounded-2xl overflow-hidden my-8">
        <img src="img/case.jpg" alt="">
        <%= _.template(require('./html-includes/absolute-video-button.html').default)() %>

      </div>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
      <p>
        Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник любого
        дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
      </p>
    </div>
  </div>
</section>
<script>
  new Swiper('.content-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.content-slider .slider-prev',
      nextEl: '.content-slider .slider-next',
    },
    pagination: {
      el: '.content-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function(currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }

  })
</script>