<% 
const screens = { xs: 420 + 29.98,  sm: 580 + 29.98, md: 688 + 29.98, lg: 992 + 29.98, xl: 1280 + 29.98, }
%>
<%= _.template(require('./html-includes/header.html').default)({screens}) %>



<section class="section-padding">
  <div class="prose content text-gray">
    <h1>heading h1</h1>
    <h2>heading h2</h2>
    <h3>heading h3</h3>
    <h4>heading h4</h4>
    <p>
      Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Одна пор снова взгляд назад свою щеке они буквоград первую ведущими вдали безорфографичный, текстов гор домах всемогущая рукописи своих инициал! Над, его текст. Пустился вдали бросил, запятой единственное однажды власти щеке, заголовок выйти осталось алфавит там языком родного всеми толку. Диких первую маленькая не раз алфавит буквоград, обеспечивает, агентство решила текста но ему? Злых города страну курсивных которой своих, страна лучше живет использовало переписывается предупредила раз меня сбить что своего жизни всемогущая повстречался буквенных текста парадигматическая над вдали о несколько? Lorem щеке речью последний прямо, грамматики одна снова текст океана?
    </p>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
      <li>Odio quis fuga mollitia officia dolorum fugit, molestias assumenda necessitatibus</li>
      <li>eligendi nam nesciunt alias quo aperiam magni distinctio nulla natus cupiditate voluptate.</li>
    </ul>
    <ol>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
      <li>Odio quis fuga mollitia officia dolorum fugit, molestias assumenda necessitatibus</li>
      <li>eligendi nam nesciunt alias quo aperiam magni distinctio nulla natus cupiditate voluptate.</li>
    </ol>
    <p>
      <b>Жирное Далеко-далеко за словесными горами</b>
    </p>
    <p>
      <i>Курсивное Далеко-далеко за словесными горами</i>
    </p>
  </div>
</section>