<% 
const screens = { xs: 420 + 29.98,  sm: 580 + 29.98, md: 688 + 29.98, lg: 992 + 29.98, xl: 1280 + 29.98, }
%>
<%= _.template(require('./html-includes/header.html').default)({screens}) %>

<section class="pt-0 section-padding started">
  <div class="started-buner md:rounded-[20px] md:overflow-hidden">
    <div class="inset-0 md:absolute started-buner-img">
      <picture>
        <source media="(min-width: <%= screens.lg %>px)" srcset="img/started-desctop.jpg">
        <source media="(min-width: <%= screens.md %>px)" srcset="img/started-laptop.jpg">
        <img src="img/started-mobile.png" alt="" class="md:absolute-image">
      </picture>
    </div>
    <div class="started-buner-content">
      <div class="text-gray md:text-[25px] font-light mb-2.5 leading-none">Швейная фабрика Leru Group</div>
      <div class="text-stone-700 title lg:text-[45px] font-alt uppercase leading-[1.1] tracking-[0.45px] mb-2.5">
        Пошив брендовой (женской) одежды <br class="max-sm:hidden">
        в сегменте middle-up и премиум
      </div>
      <div class="text-lg md:text-xl font-light md:leading-[1.2] text-gray mb-6 md:mb-11">
        Помогаем компаниям создавать качественные и <br class="max-sm:hidden">
        привлекательные коллекции, быть конкурентными <br class="max-sm:hidden">
        на рынке. Пошив оптом от 1 изделия.
      </div>
      <div class="items-center gap-2 sm:gap-5 md:max-lg:flex">
        <div class="mb-4 md:text-xl font-light md:leading-[1.2] text-gray">
          У вас есть задача в <br class="max-sm:hidden">
          производстве одежды?
        </div>
        <div class="flex gap-5">
          <button class="btn btn-stone-600 btn-fill px-9 btn-[56px] rounded max-md:flex-1">ДА</button>
          <button class="btn btn-gray btn-contur px-9 btn-[56px] rounded max-md:flex-1">НЕТ</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about section-padding">
  <div class="flex max-lg:flex-col gap-6 lg:gap-[72px]">
    <div class="relative about-video max-lg:order-10">
      <div class="absolute inset-0">
        <img src="img/about-img.jpg" alt="" class="absolute-image">
      </div>
      <%= _.template(require('./html-includes/absolute-video-button.html').default)() %>
    </div>
    <div class="flex flex-col flex-grow">
      <div class="title mb-7">помогаем расти</div>
      <div class="text-lg sm:text-2.1xl font-light">
        Производственный сервис <br class="max-lg:hidden">
        для брендов <br class="lg:hidden"> в среднем и <br class="max-lg:hidden">
        премиальном сегментах
      </div>
      <div class="flex gap-10 mt-8 lg:mt-auto">
        <div class="max-sm:basis-1/2 lg:basis-1/2">
          <div class="text-4xl sm:text-5xl font-alt text-stone-400">2015</div>
          <div class="font-light sm:text-xl">Год основания <br> компании</div>
        </div>
        <div class="max-sm:basis-1/2 lg:basis-1/2">
          <div class="text-4xl sm:text-5xl font-alt text-stone-400">100 +</div>
          <div class="font-light sm:text-xl">Количество <br> успешных коллекций</div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid gap-4 mt-12 md:grid-cols-2 lg:grid-cols-3 ">
    <div class="about-item card rounded-[10px] text-gray">
      <div class="text-xl sm:text-[27px] font-light mb-1">Пошив оптом от 1 изделия</div>
      <div class="font-light sm:text-xl">
        Пошив оптом от 1 изделия
        на собственном производстве
        с соблюдением высоких <br class="sm:hidden">
        требований к качеству
      </div>
      <button class="btn btn-icon btn-fill btn-stone absolute right-5 bottom-5 rounded-full btn-[37px]">
        <div class="text-xl">?</div>
      </button>
    </div>
    <div class="about-item card rounded-[10px] text-gray">
      <div class="text-xl sm:text-[27px] font-light mb-1">Дизайн и конструирование</div>
      <div class="font-light sm:text-xl">
        Дизайн и конструирование одежды
        для вашего бренда, а также пошив
        сигнального образца.
      </div>
    </div>
    <div class="about-item card rounded-[10px] text-gray md:max-lg:col-span-2">
      <div class="text-xl sm:text-[27px] font-light mb-1">Конкурентные цены</div>
      <div class="font-light sm:text-xl">
        Конкурентные цены, высокий
        уровень сервиса и доставка по
        России.
      </div>
      <a href="javascript:;" class="absolute btn btn-text btn-gray right-8 bottom-6 ">
        <span class="underline normal-case">Получить прайс-лист</span>
      </a>
    </div>
  </div>
</section>

<!-- Одежда нашего производства понравится вашим клиентам -->
<section class="section-padding catalog">
  <div class="section-top">
    <div class="title section-top-title">
      Одежда нашего производства понравится вашим клиентам
    </div>
    <div class="section-top-description max-sm:mt-7 max-lg:mt-10">
      Качественные лекала и пошив, ценовые условия с нашей стороны, которые позволят вам зарабатывать и быть
      конкурентными.
    </div>
  </div>

  <div class="-m-2 catalog-slider swiper">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="flex flex-wrap justify-center w-full swiper-slide">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="w-full p-2 sm:w-1/2 lg:w-1/3">
          <div class="catalog-item card">
            <div class="catalog-item-img">
              <img src="img/catalog-item.png" alt="" class="absolute-image catalog-item-img-front">
              <img src="img/model.jpg" alt="" class="absolute-image catalog-item-img-back">
            </div>
            <div class="catalog-item-title">Платья</div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.catalog-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.catalog-slider .slider-prev',
      nextEl: '.catalog-slider .slider-next',
    },
    pagination: {
      el: '.catalog-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }
  })
</script>

<!-- Материалы, с которыми мы работаем -->
<section class="section-padding material">
  <div class="section-top lg:mb-12">
    <div class="title section-top-title">
      Материалы, с которыми <br class="sm:hidden"> мы работаем
    </div>
  </div>

  <div class="-mx-2 material-slider swiper">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="flex flex-wrap justify-center w-full swiper-slide">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="w-full p-2 sm:w-1/2 lg:w-1/3">
          <div class="material-item card">
            <div class="material-item-img ratio ratio-[395/286]">
              <img src="img/material.png" alt="" class="absolute-image">
            </div>
            <div class="material-item-title">Шёлк</div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.material-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.material-slider .slider-prev',
      nextEl: '.material-slider .slider-next',
    },
    pagination: {
      el: '.material-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }
  })
</script>

<!-- Галерея созданных нами моделей -->
<section class="section-padding models">
  <div class="section-top">
    <div class="title section-top-title">
      Галерея созданных нами моделей
    </div>
    <div class="section-top-description max-sm:mt-7 max-lg:mt-10">
      Оцените по фото и видео качество исполнения. Одна из наших задач — репутация вашего бренда.
    </div>
  </div>
  <div class="models-slider swiper -m-1.5">
    <div class="md:grid md:grid-flow-col md:grid-rows-2 swiper-wrapper">
      <% for(let i = 0; i < 20; i++) { %>
      <div class="swiper-slide w-1/4 p-1.5">
        <div class="models-item card">
          <div class="models-item-img ratio ratio-[309/485]">
            <img src="img/model.jpg" alt="" class="absolute-image">
          </div>
          <%= _.template(require(i % 2 == 0 ? './html-includes/absolute-video-button.html':'./html-includes/absolute-image-button.html').default)() %>
        </div>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.models-slider', {
    slidesPerView: 1,
    grid: {
      rows: 1
    },
    navigation: {
      prevEl: '.models-slider .slider-prev',
      nextEl: '.models-slider .slider-next',
    },
    pagination: {
      el: '.models-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    },
    breakpoints: {
      [screens.xs]: {
        slidesPerView: 2,
        grid: {
          rows: 1
        },
      },
      [screens.md]: {
        slidesPerView: 3,
        grid: {
          rows: 2
        },
      },
      [screens.lg]: {
        slidesPerView: 4,
        grid: {
          rows: 2
        },
      },
    }
  })
</script>

<!-- Задачи, которые мы решим для вас -->
<section class="items-start xl:flex question section-padding">
  <div class="flex-1 xl:sticky top-10 question-description max-xl:mb-8">
    <div class="title mb-7">
      Задачи, которые <br class="max-sm:hidden"> мы <br class="sm:hidden"> решим для вас
    </div>
    <div class="sm:text-[25px] font-light ">
      Окажем услуги, как в комплексе <br class="max-lg:hidden">
      и под ключ, так и по отдельности
    </div>
    <div class="max-xl:hidden mt-15">
      <div class="mb-4 text-xl font-light leading-[1.2] text-gray">
        У вас есть задача в <br>
        производстве одежды?
      </div>
      <div class="flex gap-5">
        <button class="btn btn-stone-600 btn-fill px-9 btn-[56px] rounded">ДА</button>
      </div>
    </div>
  </div>
  <div class="question-items">
    <% for(let i = 0; i < 4; i++) { %>
    <div class="p-4 border rounded sm:px-7 lg:px-8 question-item border-stone sm:py-7" data-toggle-cover>
      <div class="flex items-center">
        <div class="text-xl sm:text-[27px] font-light">Пошив по вашим лекалам</div>
        <button
          class="ml-auto border max-sm:btn-[32px] btn btn-stone btn-whitebg border-stone btn-icon question-item-btn"
          data-toggle-link>
          <svg class="transition sm:text-2xl icon">
            <use xlink:href="img/icons.svg#plus" />
          </svg>
        </button>
      </div>
      <div class="flex items-start gap-6 mt-3 max-sm:flex-col is-active-enabled" data-toggle-content data-toggle-static>
        <div class="sm:w-64 rounded-[10px] overflow-hidden flex-shrink-0 max-sm:order-10">
          <img src="img/test.jpg" alt="">
        </div>
        <div class="font-light sm:text-xl">
          Онлайн-генератор случайного текста, Lorem
          Ipsum на русском языке. Незаменимый помощник любого дизайнера, вебмастера и проектировщика. Прародителем
          текста-рыбы является известный "Lorem Ipsum" — латинский текст,
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="flex gap-2 mt-8 xs:gap-4 max-xs:flex-col xl:hidden">
    <div class="xs:text-xl font-light leading-[1.2] text-gray">
      У вас есть задача в <br class="max-xs:hidden">
      производстве одежды?
    </div>
    <button class="btn btn-stone-600 btn-fill px-9 btn-[56px] rounded">ДА</button>
  </div>
</section>

<!-- Получите прайс-лист на услуги -->
<section class="price-list section-padding">
  <div class="price-list-block card">
    <div class="text-center title">Получите прайс-лист <br class="sm:hidden"> на услуги</div>
    <div class="text-center text-lg sm:text-[25px] font-light mb-8">На ваш телефон придет ссылка <br class="sm:hidden">
      на актуальные цены</div>
    <div class="flex gap-4 sm:justify-center max-sm:flex-col">
      <input type="tel" class="flex-grow-0 rounded form-input sm:w-52" placeholder="Введите ваш телефон">
      <button class="rounded btn btn-stone btn-fill sm:w-52">ПОЛУЧИТЬ ПРАЙС</button>
    </div>
    <div class="mt-4">
      <label class="flex items-center justify-center gap-2 form-field">
        <input type="checkbox" class="form-input-checkbox" checked>
        <div class="form-checkbox-target">
          <svg class="icon">
            <use xlink:href="img/icons.svg#gal-ochka" />
          </svg>
        </div>
        <div class="text-[13px] font-light">
          Я соглашаюсь с политикой <a href="javascript:;" class="underline">обработки персональных данных</a>
        </div>
      </label>
    </div>
  </div>
</section>

<!-- решаем бизнес-задачи. Кейсы. -->
<section class="case section-padding">
  <div class="section-top lg:mb-12">
    <div class="title section-top-title">
      Не только шьем одежду, но и <br>
      решаем бизнес-задачи. Кейсы.
    </div>
  </div>
  <div class="-mx-3 case-slider swiper">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="w-full px-3 swiper-slide">
        <div class="case-item card">
          <div class="relative case-item-img">
            <img src="img/test.jpg" alt="" class="absolute-image">
          </div>
          <div class="case-item-content">
            <div class="text-stone-400 sm:mb-5 sm:text-[27px] font-light">Кейс № 1.</div>
            <div class="text-stone-400 mb-2 text-xl sm:text-[25px] font-light"> Модель продаж по предзаказу</div>
            <div class="font-light sm:text-xl text-stone-400">
              Онлайн-генератор случайного текста, правильный Lorem Ipsum на русском языке. Незаменимый помощник
              любого дизайнера, вебмастера и проектировщика. ... Прародителем текста-рыбы является известный "Lorem
              Ipsum" — латинский текст,
            </div>
            <button class="mt-4 sm:mt-12 btn btn-gray btn-contur btn-[56px] rounded max-sm:w-full">ПОДРОБНЕЕ</button>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.case-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.case-slider .slider-prev',
      nextEl: '.case-slider .slider-next',
    },
    pagination: {
      el: '.case-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }
  })
</script>

<section class="section-padding">
  <div class="section-top lg:mb-12">
    <div>
      <div class="mb-2 text-xl font-light">
        Если вы в самом начале пути
      </div>
      <div class="title">
        Мы объединим ваши идеи, смыслы бренда, модные тендеции и реальные запросы аудитории, чтобы создать
        востребованную на рынке коллекцию женской одежды.
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="section-top-description">
      <button class="btn btn-gray btn-contur btn-[56px] rounded max-sm:w-full sm:px-9">ПОДРОБНЕЕ</button>
    </div>
  </div>
</section>

<!-- Предложите свою смету на пошив -->
<section class="section-padding">
  <div class="flex gap-18">
    <div>
      <div class="mb-2 text-lg font-light text-stone-400">Поставьте нам задачу</div>
      <div class="mb-7 sm:mb-10 xl:mb-5 title sm:max-lg:text-5xl">
        Предложите свою <br class="lg:hidden"> смету <br class="max-lg:hidden">
        на пошив
      </div>

      <div
        class="w-full  lg:w-[662px] sm:h-[466px] h-[217px] relative rounded-2xl overflow-hidden  xl:hidden mb-4 sm:mb-6">
        <img src="img/your-smeta.jpg" alt="" class="absolute-image">
      </div>

      <div class="sm:text-[25px] font-light leading-tight">
        Вы можете нам поставить задачу сами, сообщив объем и предельную стоимость коллекции. А мы предложим решение
        задачи. И если оно вам понравится, то начнем сотрудничество.
      </div>
      <button class="mt-6 max-sm:w-full sm:mt-14 btn btn-gray btn-contur btn-[56px] rounded">ПОДРОБНЕЕ</button>
    </div>
    <div class="w-[662px] h-[448px] relative rounded-2xl overflow-hidden flex-shrink-0 ml-auto max-xl:hidden">
      <img src="img/your-smeta.jpg" alt="" class="absolute-image">
    </div>
  </div>
</section>

<!-- Поддержка коллекции и пошив от 1 изделия -->
<section class="section-padding">
  <div class="section-top">
    <div>
      <div class="mb-2 text-xl font-light">
        Возможности для развития бренда
      </div>
      <div class="title">
        Поддержка коллекции <br class="lg:hidden"> и пошив от 1 изделия
      </div>
    </div>
  </div>
  <div class="flex gap-6 max-xl:flex-col xl:gap-18">
    <div class="w-full lg:w-[537px] sm:h-[370px] h-[220px] relative rounded-2xl overflow-hidden flex-shrink-0">
      <img src="img/support.jpg" alt="" class="absolute-image">
    </div>
    <div class="xl:pt-7">
      <div class="sm:text-[25px] font-light leading-tight">
        Вы можете работать со своими клиентами по <br class="max-xl:hidden">
        предзаказу. Например, выставить в шоуруме <br class="max-xl:hidden">
        образец и принимать заказы на пошив. Или мы <br class="max-xl:hidden">
        готовы по одной единице товара пополнять <br class="max-xl:hidden">
        размерный ряд в вашем магазине. Работаем с <br class="max-xl:hidden">
        брендами по всей России.
      </div>
      <button class="mt-6 sm:mt-14 btn btn-gray btn-contur btn-[56px] rounded max-sm:w-full">ПОДРОБНЕЕ</button>
    </div>
  </div>
</section>

<!-- Мы ваш производственный хаб в fast fashion -->
<section class="section-padding">
  <div class="section-top">
    <div class="title section-top-title">Мы ваш производственный <br class="lg:hidden"> хаб в fast fashion</div>
  </div>
  <div class="flex gap-8 max-xl:flex-col xl:gap-24">
    <div class="xl:self-center xl:w-[41%]">
      <div class="font-light leading-normal sm:text-xl">
        <span class="">Ваша задача, как основателя или продюсера бренда,
          работать над продуктам и добиваться результата на
          рынке. Задача нашей компании быть вашей
          командой и помогать достигать цели, решая фактор
          производства.
          <br><br>
          Мы заинтересованы с вами в долгосрочном
          сотрудничестве, поэтому постоянно совершенствуемся,
          стремимся быть выгодными для вам и по ценам, и по
          уровню возможностей, которые открываются вашему
          бизнесу.
          <br><br>
          Помогаем развиваться компаниям разного масштаба
          и степени зрелости, в т.ч. и тем, кто только заходит на
          рынок.</span>
      </div>
      <div class="mt-7 sm:mt-14">
        <div class="text-2xl sm:text-[27px] font-light leading-none">Валерия Утушкина </div>
        <div class="text-sm sm:text-[17px] font-light leading-none mt-1">Основатель и CEO Leru Group </div>
      </div>
    </div>
    <div class="w-full lg:w-[582px] lg:h-[613px] relative rounded-2xl overflow-hidden flex-shrink-0 max-xl:-order-1 ">
      <img src="img/hub.jpg" alt="" class="lg:absolute-image">
    </div>
  </div>
</section>

<!-- В реализации любого проекта важна команда -->
<section class="section-padding team">
  <div class="section-top">
    <div class="title section-top-title">
      В реализации любого проекта <br class="hidden sm:max-lg:block"> важна команда
    </div>
    <div class="section-top-description max-sm:mt-7 max-lg:mt-10">
      Мы объединены целью — быть продуктивными и обеспечить выгодный сервис высокого уровня.
    </div>
  </div>
  <div class="-mx-2 team-slider swiper">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 10; i++) { %>
      <div class="px-2 xs:w-1/2 lg:w-1/3 swiper-slide">
        <div class="post-item card">
          <div class="post-item-img ratio ratio-[395/480]">
            <img src="img/dude.png" alt="" class="absolute-image">
          </div>
          <div class="post-item-content">
            <div class="post-item-title text-xl sm:text-[27px] font-light mb-1.5">Антон Демидов</div>
            <div class="mb-2 font-light sm:text-lg">Дизайнер</div>
            <div class="text-lg font-light leading-tight sm:text-xl">
              Соединяю смыслы с формой и функциональностью
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.team-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.team-slider .slider-prev',
      nextEl: '.team-slider .slider-next',
    },
    pagination: {
      el: '.team-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }
  })
</script>

<!-- Компании и бренды, с которыми мы сотрудничаем -->
<section class="section-padding partners">
  <div class="section-top">
    <div class="title section-top-title">
      Компании и бренды, с <br>
      которыми мы сотрудничаем
    </div>
    <div class="section-top-description max-sm:mt-7 max-lg:mt-10">
      Мы всегда за долгие отношения, отсюда и фокус на решении бизнес-задачи заказчика. Поэтому с нами работают.
    </div>
  </div>
  <div class="grid grid-cols-3 gap-2 sm:gap-4 lg:grid-cols-6">
    <% for(let i = 0; i < 6; i++) { %>
    <div class="rounded-[20px] ratio ratio-1/1 card">
      <div class="absolute inset-3">
        <img src="img/cloudpayments.png" alt="" class="object-scale-down absolute-image">
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Отзывы -->
<section class="section-padding reviews">
  <div class="section-top">
    <div class="title section-top-title">
      Отзывы
    </div>
    <div class="section-top-description max-sm:mt-7 max-lg:mt-10">
      Доверие достигается трудом и результатами наших заказчиков.
    </div>
  </div>
  <div class="-mx-2 reviews-slider swiper">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 10; i++) { %>
      <div class="px-2 xs:w-1/2 lg:w-1/3 swiper-slide">
        <div class="post-item card">
          <div class="post-item-img ratio ratio-[395/562]">
            <img src="img/dude.png" alt="" class="absolute-image">
          </div>
          <div class="pb-3 post-item-content">
            <div class="flex items-center">
              <div>
                <div class="post-item-title text-xl sm:text-[27px] font-light sm:mb-1">Анна Волчок</div>
                <div class="font-light sm:text-lg">TexIco</div>
              </div>
              <a href="https://youtu.be/VOPZf3zWceo" data-fancybox
                class="ml-auto lg:mr-3 btn btn-stone btn-light btn-icon btn-lg sm:btn-[82px] lg:btn-[100px] rounded-full">
                <svg class="text-xl lg:text-2xl icon">
                  <use xlink:href="img/icons.svg#play" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.reviews-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.reviews-slider .slider-prev',
      nextEl: '.reviews-slider .slider-next',
    },
    pagination: {
      el: '.reviews-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }
  })
</script>

<!-- Как мы выстраиваем сотрудничество? -->
<section class="section-padding cooperation" data-tab-cover>
  <div class="flex gap-8 xl:gap-24 max-xl:flex-col">
    <div class="">
      <div class="mb-8 title">
        Как мы выстраиваем сотрудничество?
      </div>
      <div class="font-light text-lg sm:text-[25px]">
        Мы потрудились над схемой нашего <br class="max-sm:hidden">
        взаимодействия, чтобы вы экономили своё <br class="max-sm:hidden">
        время, а ваш проект был реализован <br class="max-sm:hidden">
        своевременно и по привлекательной цене
      </div>
      <div class="grid grid-cols-2 gap-3 mt-8">
        <button class="cooperation-btn btn btn-neutral-100 btn-fill text-gray justify-start sm:btn-[90px] px-4 sm:px-7"
          data-tab-link="cooperation-1">
          <span class="text-sm sm:text-[27px]">1. ЗНАКОМСТВО</span>
        </button>
        <button class="cooperation-btn btn btn-neutral-100 btn-fill text-gray justify-start sm:btn-[90px] px-4 sm:px-7"
          data-tab-link="cooperation-2">
          <span class="text-sm sm:text-[27px]">2. РЕШЕНИЕ</span>
        </button>
        <button class="cooperation-btn btn btn-neutral-100 btn-fill text-gray justify-start sm:btn-[90px] px-4 sm:px-7"
          data-tab-link="cooperation-3">
          <span class="text-sm sm:text-[27px]">3. ДОГОВОР</span>
        </button>
        <button class="cooperation-btn btn btn-neutral-100 btn-fill text-gray justify-start sm:btn-[90px] px-4 sm:px-7"
          data-tab-link="cooperation-4">
          <span class="text-sm sm:text-[27px]">4. ПРОИЗВОДСТВО</span>
        </button>
        <button
          class="cooperation-btn btn btn-neutral-100 btn-fill text-gray max-sm:col-span-2 sm:justify-start sm:btn-[90px] px-4 sm:px-7"
          data-tab-link="cooperation-5">
          <span class="text-sm sm:text-[27px]">5. ДОСТАВКА.</span>
        </button>
      </div>
    </div>
    <div class="flex-shrink-0 tab-content-cover cooperation-content ">
      <div class="tab-content" data-tab-content="cooperation-1">
        <div class="cooperation-form sm:card">
          <div class="text-xl sm:text-[27px] font-light mb-4">1 ЗНАКОМСТВО</div>
          <div class="font-light sm:text-xl">
            На этом этапе нам важно понять реальную вашу
            задачу, чтобы на следующем шаге предложить
            оптимальное цене и качеству решение.
          </div>
          <div class="flex items-center mt-8">
            <a href="javascript:;" class="text-lg sm:text-2xl btn btn-text btn-gray font-feature">
              +7 (999) 252 99 99
            </a>
            <a href="javascript:;" class="ml-6 btn btn-text btn-stone">
              <svg class="text-2xl icon">
                <use xlink:href="img/icons.svg#whatsapp" />
              </svg>
            </a>

            <a href="javascript:;" class="ml-4 btn btn-text btn-stone">
              <svg class="text-2xl icon">
                <use xlink:href="img/icons.svg#telegramm" />
              </svg>
            </a>
          </div>
          <div class="mt-3 text-lg font-light sm:text-2xl">Заказ обратного звонка</div>
          <div class="flex gap-3 mt-4 sm:mt-5 sm:gap-3 max-md:flex-col">
            <input type="text" placeholder="Введите ваше имя" class="w-full rounded md:w-56 form-input">
            <input type="tel" placeholder="Введите ваш телефон" class="w-full rounded md:w-56 form-input">
          </div>
          <div class="flex items-start gap-3 mt-5 sm:gap-3 max-md:flex-col">
            <label class="items-start cursor-pointer form-field form-checkbox max-md:order-10">
              <input type="checkbox" class="form-input-checkbox" checked>
              <div class="form-checkbox-target">
                <svg class="icon">
                  <use xlink:href="./img/icons.svg#gal-ochka" />
                </svg>
              </div>
              <div class="ml-3 text-xs font-light">
                Я соглашаюсь с политикой<br>
                <a href="javascript:;" class="underline underline-offset-4 hover:opacity-80 active:opacity-60">
                  обработки персональных данных
                </a>
              </div>
            </label>
            <button class="w-full ml-auto rounded md:w-56 btn btn-stone btn-fill">ОБРАТНЫЙ ЗВОНОК</button>
          </div>
          <div class="mt-14 max-sm:hidden">
            <button class="border-b btn btn-gray btn-text border-gray" data-tab-link="cooperation-2">
              СЛЕДУЮЩИЙ ШАГ
              <svg class="ml-4 icon ">
                <use xlink:href="img/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="tab-content" data-tab-content="cooperation-2">РЕШЕНИЕ</div>
      <div class="tab-content" data-tab-content="cooperation-3">ДОГОВОР</div>
      <div class="tab-content" data-tab-content="cooperation-4">ПРОИЗВОДСТВО</div>
      <div class="tab-content" data-tab-content="cooperation-5">ДОСТАВКА</div>
    </div>
  </div>
</section>

<!-- Ответы на частые вопросы -->
<section class="flex gap-8 xl:items-start max-xl:flex-col question xl:gap-18 section-padding">
  <div class="title xl:hidden"> Ответы на частые вопросы </div>
  <div class="flex-1 xl:sticky top-10 question-description max-xl:order-10">
    <div class="title mb-7 max-xl:hidden"> Ответы на <br> частые вопросы </div>
    <div class="question-form sm:card">
      <div class="font-light mb-4 sm:mb-7 text-xl sm:text-[25px] leading-snug">
        Если в списке ниже вы не нашли ответ на свой вопрос, задайте его нам
      </div>
      <input type="text" placeholder="Введите ваше имя" class="w-full rounded form-input mb-1.5">
      <input type="tel" placeholder="Введите ваш телефон" class="w-full rounded form-input mb-1.5">
      <textarea placeholder="Задайте ваш вопрос" class="w-full mb-3 rounded form-input"></textarea>
      <button class="w-full ml-auto rounded btn-[56px] btn btn-stone btn-fill">ОТПРАВИТЬ ВОПРОС</button>
      <label class="items-start mt-3 cursor-pointer form-field form-checkbox">
        <input type="checkbox" class="form-input-checkbox" checked>
        <div class="form-checkbox-target">
          <svg class="icon">
            <use xlink:href="./img/icons.svg#gal-ochka" />
          </svg>
        </div>
        <div class="ml-3 text-sm font-light">
          Я соглашаюсь с политикой
          <a href="javascript:;" class="underline underline-offset-4 hover:opacity-80 active:opacity-60">
            обработки персональных данных
          </a>
        </div>
      </label>
    </div>
  </div>
  <div class="question-items">
    <% for(let i = 0; i < 5; i++) { %>
    <div class="p-4 border rounded sm:px-7 lg:px-8 question-item border-stone sm:py-7" data-toggle-cover>
      <div class="flex items-center">
        <div class="text-xl sm:text-[27px] font-light">1. С какими видами ткани вы работете?</div>
        <button
          class="ml-auto border max-sm:btn-[32px] btn btn-stone btn-whitebg border-stone btn-icon question-item-btn"
          data-toggle-link>
          <svg class="transition sm:text-2xl icon">
            <use xlink:href="img/icons.svg#plus" />
          </svg>
        </button>
      </div>
      <div class="flex items-start mt-3 is-active-enabled" data-toggle-content data-toggle-static>
        <div class="font-light sm:text-xl">
          Онлайн-генератор случайного текста, Lorem
          Ipsum на русском языке. Незаменимый помощник любого дизайнера, вебмастера и проектировщика. Прародителем
          текста-рыбы является известный "Lorem Ipsum" — латинский текст,
        </div>
      </div>
    </div>
    <% } %>

  </div>
</section>

<!-- Подписывайтесь на нас  -->
<section class="price-list section-padding">
  <div class="price-list-block card">
    <div class="text-center title">Подписывайтесь на нас </div>
    <div class="text-center text-lg sm:text-[25px] font-light mb-8">Узнавайте первыми о новых кейсах, <br> решениях
      и
      специпредложениях</div>
    <div class="flex justify-center gap-4 mt-10">
      <a href="javascript:;" class=" btn btn-text btn-stone">
        <svg class="text-3xl icon">
          <use xlink:href="img/icons.svg#telegramm" />
        </svg>
      </a>
      <a href="javascript:;" class=" btn btn-text btn-stone">
        <svg class="text-3xl icon">
          <use xlink:href="img/icons.svg#instagramm" />
        </svg>
      </a>
      <a href="javascript:;" class=" btn btn-text btn-stone">
        <svg class="text-3xl icon">
          <use xlink:href="img/icons.svg#vk" />
        </svg>
      </a>
      <a href="javascript:;" class=" btn btn-text btn-stone">
        <svg class="text-3xl icon">
          <use xlink:href="img/icons.svg#pinterest" />
        </svg>
      </a>
      <a href="javascript:;" class=" btn btn-text btn-stone">
        <svg class="text-3xl icon">
          <use xlink:href="img/icons.svg#youtube" />
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- вам может быть интересно -->
<section class="section-padding post">
  <div class="section-top">
    <div class="title section-top-title">
      вам может быть интересно
    </div>
    <div class="section-top-description">
      Свежие публикации
    </div>
  </div>
  <div class="-m-2 post-slider swiper">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="flex flex-wrap justify-center w-full swiper-slide">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="w-full p-2 sm:w-1/2 lg:w-1/3">
          <div class="post-item card">
            <div class="post-item-img ratio ratio-[395/292]">
              <img src="img/test.jpg" alt="" class="absolute-image">
            </div>
            <div class="post-item-content">
              <div class="post-item-title text-xl sm:text-[27px] font-light mb-1.5">Пост 1</div>
              <div class="font-light sm:text-xl">
                Вы получите оптимальную стратегию доставки смыслов бренда и ценности его продуктов до целевой
                аудитории через рекламные и иные каналы коммуникаций.
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <%= _.template(require('./html-includes/slider-navigation.html').default)() %>
  </div>
</section>
<script>
  new Swiper('.post-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.post-slider .slider-prev',
      nextEl: '.post-slider .slider-next',
    },
    pagination: {
      el: '.post-slider .slider-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '<span class="' + currentClass + '"></span>/<span class="' + totalClass + '"></span>';
      }
    }
  })
</script>


<section class="section-padding contacts">
  <div class="flex gap-10 max-xl:flex-col">
    <div class="flex-1 max-sm:w-full lg:pt-7">
      <div class="grid sm:max-xl:grid-cols-2 max-xl:gap-8">

        <div class="title xl:mb-14 sm:max-xl:col-span-2">
          Собственное производство и <br class="sm:hidden">
          конструкторское бюро
        </div>

        <div>
          <div class="text-xl sm:text-[27px] font-light mb-1.5">Производство:</div>
          <div class="font-light sm:text-xl">Иваново, ул. Парижских добровольцев, 1</div>
        </div>

        <div class="xl:mt-7">
          <div class="text-xl sm:text-[27px] font-light mb-1.5">Офис в Москве:</div>
          <div class="font-light sm:text-xl">Долгопрудный, ул. 1-я Советская, <br class="sm:hidden"> д. 47. к.1, оф
            501</div>
        </div>

        <div class="xl:mt-7">
          <div class="text-xl sm:text-[27px] font-light mb-1.5">Контакты для связи:</div>
          <div class="flex items-center">
            <a href="javascript:;" class="text-lg sm:text-2xl btn btn-text btn-gray font-feature">
              +7 (999) 252 99 99
            </a>
            <a href="javascript:;" class="ml-6 btn btn-text btn-stone">
              <svg class="text-2xl icon">
                <use xlink:href="img/icons.svg#whatsapp" />
              </svg>
            </a>

            <a href="javascript:;" class="ml-4 btn btn-text btn-stone">
              <svg class="text-2xl icon">
                <use xlink:href="img/icons.svg#telegramm" />
              </svg>
            </a>
          </div>
        </div>
        <div class="xl:mt-18">
          <button class="btn btn-stone btn-fill btn-[56px] rounded max-sm:w-full">ЗАПИСАТЬСЯ НА ВСТРЕЧУ</button>
        </div>
      </div>
    </div>
    <div class="overflow-hidden contacts-img ratio ratio-1/1 card">
      <img src="img/contacts.jpg" alt="" class="absolute-image">
      <%= _.template(require('./html-includes/absolute-video-button.html').default)() %>
    </div>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)({screens}) %>