:root {
  --bg1      : #E9EAEC;
  --bg2      : #F4F5F6;
  --bg3      : #fff;
  --font-base: 'Fira Sans', arial, helvetica, sans-serif;
  --font-alt : 'Lithium Typeface (LT)';
}

[data-theme="dark"] {
  --bg1: #181818;
  --bg2: #282828;
  --bg3: #323232;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  overflow-y    : scroll;
  background    : var(--bg3);
  font-family   : var(--font-base);

}

@layer components {
  .btn {
    font-size     : 17px;
    font-weight   : 300;
    text-transform: uppercase;
  }

  .absolute-image {
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    pointer-events: none;
    user-select   : none;

  }

  .section-padding {
    padding-top   : 95px;
    padding-bottom: 95px;
  }

  .title {
    font-family   : var(--font-alt);
    font-size     : 50px;
    font-weight   : 400;
    line-height   : normal;
    color         : theme('colors.stone.400');
    text-transform: uppercase;
  }
}


.started {
  &-buner {
    position: relative;
    height  : 642px;

    &-content {
      position: relative;
      padding : 112px 70px 80px;
      z-index : 2;
    }
  }

}


.about {
  &-video {
    width        : 680px;
    height       : 396px;
    overflow     : hidden;
    border-radius: 15px;
  }
}