:root {
  --bg1      : #E9EAEC;
  --bg2      : #F4F5F6;
  --bg3      : #fff;
  --font-base: 'Fira Sans', arial, helvetica, sans-serif;
  --font-alt : 'Lithium Typeface (LT)';
}

[data-theme="dark"] {
  --bg1: #181818;
  --bg2: #282828;
  --bg3: #323232;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  overflow-y    : scroll;
  background    : var(--bg3);
  font-family   : var(--font-base);
  line-height   : 1.36;

}

@layer components {
  .btn {
    font-size     : 17px;
    font-weight   : 300;
    text-transform: uppercase;

    &-whitebg {
      box-shadow: none !important;
    }
  }

  .absolute-image {
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    pointer-events: none;
    user-select   : none;

  }

  .section-padding {
    padding-top   : 95px;
    padding-bottom: 95px;

    @media (max-width:theme('screens.xl')) {
      padding-top   : 60px;
      padding-bottom: 60px;
    }

    @media (max-width:theme('screens.md')) {
      padding-top   : 45px;
      padding-bottom: 45px;
    }
  }

  .title {
    font-family   : var(--font-alt);
    font-size     : 50px;
    font-weight   : 400;
    line-height   : normal;
    color         : theme('colors.stone.400');
    text-transform: uppercase;

    @media (max-width:theme('screens.lg')) {
      font-size: 36px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 30px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 25px;
    }
  }

  .card {
    background   : theme('colors.neutral.100');
    border-radius: 15px;
  }


  .section-top {
    display      : flex;
    align-items  : center;
    margin-bottom: 60px;

    @media (max-width:theme('screens.xl')) {
      align-items   : flex-start;
      flex-direction: column;
      margin-bottom : 40px;
    }

    @media (max-width:theme('screens.sm')) {
      margin-bottom: 30px;
    }


    &-description {
      flex-shrink: 0;
      width      : 530px;
      margin-left: auto;
      font-size  : 25px;
      font-weight: 300;

      @media (max-width:theme('screens.xl')) {
        width: 100%;
      }

      @media (max-width:theme('screens.sm')) {
        font-size: 18px;
      }
    }
  }

  .post-item {
    position: relative;
    padding : 10px;

    &-content {
      padding: 24px 12px;
    }

    &-img {
      position     : relative;
      overflow     : hidden;
      border-radius: 10px;
    }
  }

}

.post-slider .post-item {
  height: 100%;
}

.is-active-disabled:is(.toggle-active, .active) {
  display: none;
}

.is-active-enabled:not(:is(.toggle-active, .active)) {
  display: none;
}


.zoom-button::before {
  content      : "";
  position     : absolute;
  top          : calc(100% - 4px);
  left         : calc(100% - 12px);
  width        : 18px;
  height       : 2px;
  background   : var(--tw-btn-color);
  border-radius: 2px;
  transform    : rotateZ(45deg);
}

@media(hover) {
  .zoom-button-parent:not(:hover) .zoom-button {
    opacity: 0;
  }
}

.started {
  &-buner {
    position: relative;
    height  : 642px;

    @media (max-width:theme('screens.xl')) {
      height: 576px;
    }

    @media (max-width:theme('screens.lg')) {
      height: 796px;
    }

    @media (max-width:theme('screens.md')) {
      height: auto;
    }

    &-content {
      position: relative;
      padding : 112px 70px 80px;
      z-index : 2;

      @media (max-width:theme('screens.xl')) {
        padding: 66px 38px;
      }

      @media (max-width:theme('screens.md')) {
        margin-top: 24px;
        padding   : 0;
      }
    }
  }

}


.about {
  &-video {
    width        : 680px;
    height       : 396px;
    overflow     : hidden;
    border-radius: 15px;

    @media (max-width:theme('screens.xl')) {
      width: 500px;
    }

    @media (max-width:theme('screens.lg')) {
      width : 100%;
      height: 400px;
    }
  }

  &-item {
    position: relative;
    padding : 44px 32px;

    @media (max-width:theme('screens.sm')) {
      min-height: 165px;
      padding   : 28px 20px;
    }
  }
}

.catalog-item {
  &-img {
    display : block;
    position: relative;
    width   : 100%;
    height  : 480px;

    @media (max-width:theme('screens.sm')) {
      height : 430px;
      padding: 20px;
    }

    @media (max-width:theme('screens.sm')) {
      height : 372px;
      padding: 20px;
    }

    img {
      position  : relative;
      object-fit: scale-down;
    }
  }

  &-title {
    display    : block;
    padding    : 0 28px 25px;
    font-size  : 27px;
    font-weight: 300;

    @media (max-width:theme('screens.sm')) {
      padding  : 0 12px 15px;
      font-size: 20px;
    }
  }
}

.material-item {
  padding: 10px;

  &-img {
    position     : relative;
    overflow     : hidden;
    border-radius: 15px;
  }

  &-title {
    padding    : 24px 12px 15px;
    font-size  : 27px;
    font-weight: 300;

    @media (max-width:theme('screens.sm')) {
      padding  : 15 12px 10px;
      font-size: 20px;
    }
  }
}

.models-item {
  position: relative;

  &-img {
    position     : relative;
    overflow     : hidden;
    border-radius: 15px;
  }
}

.question {
  &-items {
    display       : flex;
    flex-direction: column;
    flex-shrink   : 0;
    width         : 780px;
    gap           : 12px;

    @media (max-width:theme('screens.xl')) {
      width: 100%;
    }
  }

  &-item {
    &-btn {
      &.toggle-active .icon {
        transform: rotateZ(45deg);

      }
    }
  }

  &-form {
    @media (min-width:theme('screens.xl')) {
      width: 418px;
    }

    @media (min-width:theme('screens.sm')) {
      padding: 62px;
    }
  }
}

.price-list {
  &-block {
    width       : 980px;
    max-width   : 100%;
    margin-right: auto;
    margin-left : auto;
    padding     : 65px 20px;

  }
}

.case {
  &-item {
    display    : flex;
    align-items: center;
    padding    : 10px;
    gap        : 70px;

    @media (max-width:theme('screens.xl')) {
      flex-direction: column;
      gap           : 40px;
    }

    @media (max-width:theme('screens.sm')) {
      padding: 6px;
      gap    : 24px;
    }

    &-img {
      flex-shrink  : 0;
      width        : 668px;
      max-width    : 100%;
      height       : 474px;
      overflow     : hidden;
      border-radius: 10px;

      @media (max-width:theme('screens.sm')) {
        height: 217px;
      }
    }

    &-content {
      @media (max-width:theme('screens.xl')) {
        padding-right : 40px;
        padding-bottom: 40px;
        padding-left  : 40px;
      }

      @media (max-width:theme('screens.sm')) {
        padding-right : 6px;
        padding-bottom: 35px;
        padding-left  : 6px;
      }
    }
  }
}



.cooperation {
  &-content {
    width: 600px;

    @media (max-width:theme('screens.xl')) {
      width: 100%;
    }
  }

  &-form {
    @media (min-width:theme('screens.sm')) {
      padding: 72px 64px;
    }
  }

  &-btn {
    &.tab-active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) !important;
    }
  }
}

.contacts {
  &-img {
    flex-shrink: 0;
    width      : 650px;

    @media (max-width:theme('screens.lg')) {
      width: 100%;
    }
  }
}

.menu {
  display       : flex;
  flex-direction: column;
  position      : fixed;
  top           : 0;
  right         : -80px;
  width         : 410px;
  height        : 100%;
  padding       : 50px 35px;
  border-radius : 0;
  transition    : .75s cubic-bezier(.28, 1.66, .26, 1);
  z-index       : theme('zIndex[8]');
  clip-path     : polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);

  &:not(.toggle-active) {
    transform: translateX(80px);
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
}

.content {
  width       : 780px;
  max-width   : 100%;
  margin-right: auto;
  margin-left : auto;

}

.prose {
  font-weight: 300;


  h1,
  h2,
  h3 {
    margin-bottom : 1em;
    font-family   : var(--font-alt);
    font-weight   : 400;
    line-height   : normal;
    text-transform: uppercase;


  }

  h1 {
    font-size: 50px;

    @media (max-width:theme('screens.lg')) {
      font-size: 36px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 30px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 25px;
    }
  }

  h2 {
    font-size: 40px;

    @media (max-width:theme('screens.lg')) {
      font-size: 30px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 24px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 32px;

    @media (max-width:theme('screens.lg')) {
      font-size: 25px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 20px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 18px;
    }
  }

  h4 {
    margin-bottom: 1em;
    font-size    : 27px;

    @media (max-width:theme('screens.lg')) {
      font-size: 22px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 20px;
    }

    @media (max-width:theme('screens.xs')) {
      font-size: 16px;
    }
  }

  ul,
  ol,
  p {
    margin-bottom: 1em;
    font-size    : 20px;
    line-height  : 1.5;

    @media (max-width:theme('screens.lg')) {
      font-size: 16px;
    }

    @media (max-width:theme('screens.sm')) {
      font-size: 14px;
    }
  }

  ul {
    padding-left: 20px;
    list-style  : disc;
  }

  ol {
    padding-left: 20px;
    list-style  : decimal;
  }
}

.dialog {
  width        : 642px;
  max-width    : 100%;
  padding      : 60px 70px;
  border-radius: 0;

  @media (max-width:theme('screens.sm')) {
    padding-right: 15px;
    padding-left : 15px;
  }
}